<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
    <p style="color: white"> Carregando... </p>
</ngx-spinner>

<main class="main">
    <!-- section start-->
    <section class="section" style="text-align: center; padding-top: 100px;">
        <div class="container">
            <div class="row margin-bottom">
                <div class="col-12">
                    <h2 class="heading__title"><span>Crie</span> <span> sua conta</span></h2>
                </div>
            </div>
            <!-- FORM START HERE-->
            <section class="section contacts no-padding-top no-padding-bottom">
                <div class="contacts-wrapper">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8">
                                <form class="form message-form" [formGroup]="registerForm" autocomplete="on">
                                    <h6 class="form__title">Preencha com suas informações</h6><span class="form__text">* campos obrigatórios</span>

                                    <!-- LINHA 1 -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input class="form__field" style="margin-bottom: 0;" formControlName="name" placeholder="Nome Completo *" required="required" />
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('name')?.hasError('required') && this.registerForm.get('name')?.touched">
                                                * Campo obrigatório
                                            </div>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('name')?.hasError('minlength') && this.registerForm.get('name')?.touched">
                                                Mínimo 5 caracteres
                                            </div>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('name')?.hasError('maxlength') && this.registerForm.get('name')?.touched">
                                                Máximo 64 caracteres
                                            </div>
                                        </div>
                                        <div class="col-lg-6 space-top-input">
                                            <input class="form__field" style="margin-bottom: 0;" type="email" formControlName="email" placeholder="E-mail *" required="required" />
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('email')?.hasError('required') && this.registerForm.get('email')?.touched">
                                                * Campo obrigatório
                                            </div>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('email')?.hasError('minlength') && this.registerForm.get('email')?.touched">
                                                Mínimo 5 caracteres
                                            </div>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('email')?.hasError('maxlength') && this.registerForm.get('email')?.touched">
                                                Máximo 64 caracteres
                                            </div>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('email')?.hasError('email') && this.registerForm.get('email')?.touched">
                                                Formato inválido
                                            </div>
                                        </div>
                                    </div>

                                    <!-- LINHA 2 -->
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-lg-6">
                                            <select class="form__field" formControlName="type" style="color: #6e6e6e; margin-bottom: 0;" required="required" (change)="documentSelected($event)">
                                              <option value="" disabled selected hidden>Tipo de Documento *</option>
                                              <option value="individual">CPF</option>
                                              <option value="company">CNPJ</option>
                                            </select>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('type')?.hasError('required') && this.registerForm.get('type')?.touched">
                                                * Campo obrigatório
                                            </div>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('type')?.hasError('minlength') && this.registerForm.get('type')?.touched">
                                                Mínimo 7 caracteres
                                            </div>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('type')?.hasError('maxlength') && this.registerForm.get('type')?.touched">
                                                Máximo 10 caracteres
                                            </div>
                                        </div>
                                        <div class="col-lg-6 space-top-input">
                                            <input class="form__field" style="margin-bottom: 0;" mask={{document_mask}} formControlName="document" placeholder="Documento *" required="required" />
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('document')?.hasError('required') && this.registerForm.get('document')?.touched">
                                                * Campo obrigatório
                                            </div>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('document')?.hasError('minlength') && this.registerForm.get('document')?.touched">
                                                Mínimo 11 caracteres
                                            </div>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('document')?.hasError('maxlength') && this.registerForm.get('document')?.touched">
                                                Máximo 14 caracteres
                                            </div>
                                        </div>
                                    </div>

                                    <!-- LINHA 3 -->
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-lg-6">
                                            <input class="form__field" style="margin-bottom: 0;" formControlName="password" type={{passwordInputType}} placeholder="Senha *" required="required" />
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('password')?.hasError('required') && this.registerForm.get('password')?.touched">
                                                * Campo obrigatório
                                            </div>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('password')?.hasError('minlength') && this.registerForm.get('password')?.touched">
                                                Mínimo 6 caracteres
                                            </div>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('password')?.hasError('maxlength') && this.registerForm.get('password')?.touched">
                                                Máximo 12 caracteres
                                            </div>
                                        </div>
                                        <div class="col-lg-6 space-top-input">
                                            <input class="form__field" style="margin-bottom: 0;" formControlName="confirmPassword" type={{passwordInputType}} placeholder="Confirmação de Senha *" required="required" />
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('confirmPassword')?.hasError('required') && this.registerForm.get('confirmPassword')?.touched">
                                                * Campo obrigatório
                                            </div>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('confirmPassword')?.hasError('minlength') && this.registerForm.get('confirmPassword')?.touched">
                                                Mínimo 6 caracteres
                                            </div>
                                            <div class="text-danger alertFormError" *ngIf="this.registerForm.get('confirmPassword')?.hasError('maxlength') && this.registerForm.get('confirmPassword')?.touched">
                                                Máximo 12 caracteres
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-lg-12">
                                            <label class="form__checkbox-label"><span class="form__label-text">Mostrar Senha</span>
                                                <input class="form__input-checkbox" type="checkbox" name="value-select" (change)="onCheckboxChange($event)"/><span class="form__checkbox-mask form__checkbox-mask"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div #divRecaptcha id="recaptcha"></div>

                                    <!-- BOTÕES -->
                                    <div class="col-12" style="text-align: center; margin-top: 30px;">
                                        <button class="form__submit" (click)="register()" [disabled]="!registerForm.valid" [ngStyle]="{'background-color': !registerForm.valid ? '#D3D3D3' : ''}">Cadastrar</button>
                                        <button class="form__submit" (click)="resetForm()" style="margin-left: 10px;">Limpar</button>
                                    </div>

                                    <!-- Divider Text -->
                                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center" style="margin-top: 60px;">
                                        <div class="border-bottom w-100 ml-5"></div>
                                        <span class="px-2 text-muted font-weight-bold text-muted">OU</span>
                                        <div class="border-bottom w-100 mr-5"></div>
                                    </div>

                                    <h6 class="form__title" style="margin: 30px 0 20px 0;">Já possui conta?</h6>
                                    <div class="col-12" style="text-align: center;">
                                        <button class="form__submit" [routerLink]="['/auth/login']">Fazer Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- FORM END HERE-->
        </div>
    </section>
    <!-- section end-->


</main>