<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
    <p style="color: white"> Carregando... </p>
</ngx-spinner>

<main class="main">
  <!-- section start-->
  <section class="section" style="text-align: center; padding-top: 100px;">
      <div class="container">
          <div class="row margin-bottom">
              <div class="col-12">
                  <h2 class="heading__title"><span>Altere</span> <span> sua senha</span></h2>
              </div>
          </div>
          <!-- FORM START HERE-->
          <section class="section contacts no-padding-top no-padding-bottom">
              <div class="contacts-wrapper">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-xl-8">
                              <form class="form message-form" [formGroup]="editPasswordForm" autocomplete="on">
                                  <div class="row" style="margin-top: 20px;">
                                      <div class="col-lg-4">
                                          <input class="form__field" style="margin-bottom: 0;" formControlName="currentPassword" type={{passwordInputType}} placeholder="Senha Atual *" required="required"/>
                                          <div class="text-danger alertFormError" *ngIf="this.editPasswordForm.get('currentPassword')?.hasError('required') && this.editPasswordForm.get('currentPassword')?.touched">
                                              * Campo obrigatório
                                          </div>
                                          <div class="text-danger alertFormError" *ngIf="this.editPasswordForm.get('currentPassword')?.hasError('minlength') && this.editPasswordForm.get('currentPassword')?.touched">
                                              Mínimo 6 caracteres
                                          </div>
                                          <div class="text-danger alertFormError" *ngIf="this.editPasswordForm.get('currentPassword')?.hasError('maxlength') && this.editPasswordForm.get('currentPassword')?.touched">
                                              Máximo 12 caracteres
                                          </div>
                                      </div>
                                      <div class="col-lg-4 space-top-input">
                                        <input class="form__field" style="margin-bottom: 0;" formControlName="newPassword" type={{passwordInputType}} placeholder="Nova Senha *" required="required"/>
                                        <div class="text-danger alertFormError" *ngIf="this.editPasswordForm.get('newPassword')?.hasError('required') && this.editPasswordForm.get('newPassword')?.touched">
                                            * Campo obrigatório
                                        </div>
                                        <div class="text-danger alertFormError" *ngIf="this.editPasswordForm.get('newPassword')?.hasError('minlength') && this.editPasswordForm.get('newPassword')?.touched">
                                            Mínimo 6 caracteres
                                        </div>
                                        <div class="text-danger alertFormError" *ngIf="this.editPasswordForm.get('newPassword')?.hasError('maxlength') && this.editPasswordForm.get('newPassword')?.touched">
                                            Máximo 12 caracteres
                                        </div>
                                    </div>
                                      <div class="col-lg-4 space-top-input">
                                          <input class="form__field" style="margin-bottom: 0;" formControlName="confirmPassword" type={{passwordInputType}} placeholder="Confirmação de Senha *" required="required"/>
                                          <div class="text-danger alertFormError" *ngIf="this.editPasswordForm.get('confirmPassword')?.hasError('required') && this.editPasswordForm.get('confirmPassword')?.touched">
                                              * Campo obrigatório
                                          </div>
                                          <div class="text-danger alertFormError" *ngIf="this.editPasswordForm.get('confirmPassword')?.hasError('minlength') && this.editPasswordForm.get('confirmPassword')?.touched">
                                              Mínimo 6 caracteres
                                          </div>
                                          <div class="text-danger alertFormError" *ngIf="this.editPasswordForm.get('confirmPassword')?.hasError('maxlength') && this.editPasswordForm.get('confirmPassword')?.touched">
                                              Máximo 12 caracteres
                                          </div>
                                      </div>
                                  </div>
                                  
                                  <div class="row" style="margin-top: 20px;">
                                      <div class="col-lg-12"> 
                                          <label class="form__checkbox-label"><span class="form__label-text">Mostrar Senha</span>
                                              <input class="form__input-checkbox" type="checkbox" name="value-select" (change)="onCheckboxChange($event)"/><span class="form__checkbox-mask form__checkbox-mask"></span>
                                          </label>
                                      </div>
                                  </div>
                                  
                                  <!-- BOTÕES -->
                                  <div class="col-12" style="text-align: center; margin-top: 30px;">
                                      <button class="form__submit" (click)="editPassword()" [disabled]="!editPasswordForm.valid" [ngStyle]="{'background-color': !editPasswordForm.valid ? '#D3D3D3' : ''}">Confirmar Alteração</button>
                                      <button class="form__submit" (click)="resetForm()" style="margin-left: 10px;">Limpar</button>
                                  </div>
                                  
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- FORM END HERE-->
      </div>
  </section>
  <!-- section end-->
  
  
</main>