<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Carregando... </p>
</ngx-spinner>

<main class="main">
  <!-- section start-->
  <section class="section" style="text-align: center; padding-top: 100px;">
      <div class="container">
          <div class="row margin-bottom">
              <div class="col-12">
                  <h2 class="heading__title"><span>Redefina</span> <span> sua senha</span></h2>
              </div>
          </div>
          <!-- FORM START HERE-->
          <section class="section contacts no-padding-top no-padding-bottom">
              <div class="contacts-wrapper">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-xl-8">
                              <form class="form message-form" [formGroup]="resetPasswordForm" autocomplete="on">
                                  <h6 class="form__title">Preencha com suas informações</h6><span class="form__text">* você receberá um link no e-mail</span>
                                  
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <input class="form__field" style="margin-bottom: 0;" formControlName="username" placeholder="E-mail de recuperação *" required="required"/>
                                          <div class="text-danger alertFormError" *ngIf="this.resetPasswordForm.get('username')?.hasError('required') && this.resetPasswordForm.get('username')?.touched">
                                              * Campo obrigatório
                                          </div>
                                          <div class="text-danger alertFormError" *ngIf="this.resetPasswordForm.get('username')?.hasError('email') && this.resetPasswordForm.get('username')?.touched">
                                              Formato inválido
                                          </div>
                                      </div>
                                  </div>
                                  
                                  <!-- BOTÕES -->
                                  <div class="col-12" style="text-align: center; margin-top: 30px;">
                                      <button class="form__submit" (click)="resetPassword()">Redefinir Senha</button>
                                      <button class="form__submit" (click)="resetForm()" style="margin-left: 10px;">Limpar</button>
                                  </div>
                                  
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- FORM END HERE-->
      </div>
  </section>
  <!-- section end-->
  
  
</main>