<!-- footer front_3 start-->
<footer class="footer footer--front_3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-logo">
                    <a class="footer-logo__link" href="index.html"><img class="footer-logo__img" src="assets/img/logo_fundo_escuro.png" alt="logo" /></a>
                </div>
                <div class="footer-contacts">
                    <p class="footer-contacts__phone">
                        Telefone: <a href="tel:+31859644725">+55 21 99639-1869</a>
                    </p>
                    <p class="footer-contacts__mail">
                        E-mail: <a href="mailto:contato&#64;vaquinhaanimal.com.br">contato&#64;vaquinhaanimal.com.br</a>
                    </p>
                </div>
                <!-- footer socials start-->
                <ul class="footer-socials">
                    <li class="footer-socials__item">
                        <a class="footer-socials__link" target="_blank" href="https://www.facebook.com/vaquinhaanimal"><i class="fa fa-facebook" aria-hidden="true"></i
            ></a>
                    </li>
                    <!-- <li class="footer-socials__item">
            <a class="footer-socials__link" target="_blank" href="#"
              ><i class="fa fa-twitter" aria-hidden="true"></i
            ></a>
          </li>
          <li class="footer-socials__item">
            <a class="footer-socials__link" target="_blank" href="#"
              ><i class="fa fa-google-plus" aria-hidden="true"></i
            ></a>
          </li> -->
                    <li class="footer-socials__item">
                        <a class="footer-socials__link" target="_blank" href="https://www.instagram.com/vaquinhaanimal"><i class="fa fa-instagram" aria-hidden="true"></i
            ></a>
                    </li>
                </ul>
                <!-- footer socials end-->
            </div>
            <div class="col-lg-8">
                <!-- footer nav start-->
                <nav>
                    <ul class="footer-menu">
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Início</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" [routerLink]="['campanhas/listar-todas']">Campanhas</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" [routerLink]="['campanhas/criar']">Crie a sua</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Aprenda</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" [routerLink]="['artigos/listar-todos']">Artigos</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" [routerLink]="['termos']">Termos</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Mídia</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" [routerLink]="['contato']">Fale Conosco</a>
                        </li>
                    </ul>
                </nav>
                <!-- footer nav end-->
            </div>
        </div>
    </div>
    <div class="footer__lower">
        <div class="container">
            <div class="row align-items-baseline">
                <div class="col-md-6 col-xl-7">
                    <p class="footer-copyright">
                        © 2024 Direitos Reservados - Vaquinha Animal - CNPJ: 48.173.612/0001-02 - Grupo Doadores Especiais
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer front_3 end-->