<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Carregando... </p>
</ngx-spinner>

<main class="main">
  <!-- MEUS ARTIGOS -->
  <section class="section causes-inner" style="padding-top: 100px;">
    <h2 class="heading__title" style="text-align: center; margin-bottom: 60px;"><span>Todos</span> <span> Artigos</span></h2>
    
    <div class="container">
      
      <!-- INÍCIO TABELA -->
      <div class="table-responsive" *ngIf="artigos && artigos.length" class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Título</th>
              <th scope="col">Escrito Por</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngIf="artigos && artigos.length">
            <tr *ngFor="let artigo of artigos">
              <td scope="row">{{ artigo.titulo }}</td>
              <td>{{ artigo.escrito_por }}</td>
              <td>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ações
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" style="text-decoration: none; cursor: pointer;" [routerLink]="['/artigos/editar', artigo.id]">Editar</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- FIM TABELA -->
      
      <div *ngIf="!artigos || artigos.length == 0" style="text-align: center;">
        <img src="assets/img/topo_minhas_campanhas.png" width="600px" alt="donor" style="margin-bottom: 40px;"/>
        
        <h5 style="text-align: center;">Você não possui artigos até o momento!</h5>
        <a [routerLink]="['/artigos/adicionar-novo']" style="cursor: pointer; margin-top: 25px; text-decoration: none;" class="btn btn-primary">Criar artigo</a>
      </div>

      <div style="text-align: center;" *ngIf="artigos && artigos.length != 0">
        <a [routerLink]="['/artigos/adicionar-novo']" style="cursor: pointer; margin-top: 25px; text-decoration: none;" class="btn btn-primary">Criar artigo</a>
      </div>
      
    </div>
  </section>
  <!--MINHAS CAMPANHAS END-->
  
  <!-- bottom bg start-->
  <section class="bottom-background background--brown">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bottom-background__img"><img src="assets/img/bottom-bg.png" alt="img"/></div>
        </div>
      </div>
    </div>
  </section>
  <!-- bottom bg end-->
</main>