<section style="margin-top: 100px; margin-bottom: 100px;">
  <div class="container" data-aos="fade-up">
    
    <div class="section-title" style="margin-bottom: 40px;">
      <h2>Termos de uso</h2>
    </div>
    
    <div style="font-size: 14px;">
      <h4>1. OBJETIVOS DA PLATAFORMA</h4>
      <p>1.1. O objetivo da Vaquinha Animal é disponibilizar um ambiente seguro e específico para pessoas com necessidades em cuidar dos seus Pets, de modo a viabilizar a criação de campanhas para fins específicos.</p>
      <p>1.2. Ser uma plataforma segura e responsável no combate à desvios irregulares e uso indevido da verba arrecadada.</p>
      
      <h4 style="margin-top: 40px;">2. USUÁRIO</h4>
      <p>2.1. Todo USUÁRIO que utilizar os serviços da Vaquinha Animal declara que concorda com nossos Termos de Uso, podendo ter sua campanha suspensa a qualquer momento, sem aviso prévio, caso haja alguma irregularidade.</p>
      
      <h4 style="margin-top: 40px;">3. COMO FUNCIONA</h4>
      <p>3.1. Para realizar a criação da campanha, o usuário precisará estar logado, acessar o menu CRIAR CAMPANHA e realizar o preenchimento completo do formulário.</p>
      <p>3.2. Para evitar campanhas fraudulentas, solicitaremos ao final da campanha, para transferência financeira, um laudo veterinário comprovando tal necessidade.</p>
      <p>3.3. Após isto, o usuário poderá enviar sua campanha para análise e dentro de até 2 dias úteis nossa equipe irá realizar a aprovação ou não.</p>
      <p>3.4. Projetos podem ser negados por não estarem de acordo com as políticas da plataforma, bem como aparentar alguma suspeita de irregularidade.</p>
      
      <h4 style="margin-top: 40px;">4. REGRAS DE CAMPANHA</h4>
      <p>4.1. A Vaquinha Animal decidiu optar somente pela campanha flexível, onde os valores são repassados ao beneficiário mesmo não tendo obtido a meta estabelecida. Partimos do princípio de que mesmo sendo um valor inferior, pode ajudar bastante a pessoa.</p>
      
      <h4 style="margin-top: 40px;">5. CONTA PREMIUM</h4>
      <p>5.1. Na hora da criação da campanha, daremos ao usuário a possibilidade de criar uma campanha PREMIUM, onde a mesma aparecerá com maior destaque dentro da plataforma, bem como fazer parte mais vezes das divulgações da Doadores nas mídias.</p>
      <p>5.2. Para tornar-se PREMIUM, o usuário não precisa realizar nenhum tipo de pagamento antecipado. A única diferença é que além das taxas já descontadas ao final da campanha, a plataforma ficará com 5% a mais.</p>
      
      <h4 style="margin-top: 40px;">6. PRAZOS DE ARRECADAÇÃO</h4>
      <p>6.1. O usuário poderá escolher entre 30, 60, 90, 120, 150 e 180 dias para a sua campanha, podendo esta ser finalizada antes do prazo, se for do desejo do beneficiário ou por decisão da plataforma. Além disso, terá a opção de escolher por uma campanha recorrente, sem prazo de término.</p>
      
      <h4 style="margin-top: 40px;">7. COLABORAÇÕES</h4>
      <p>7.1. Para realizar uma doação, o usuário deverá estar logado na plataforma, selecionar a campanha desejada e ir para QUERO DOAR. Após isso, as opções de pagamento estarão disponíveis.</p>
      <p>7.2. A Vaquinha Animal utiliza a Pagarme como operadora financeira, tendo todas as transações ocorrendo de forma totalmente segura e certificada.</p>
      <p>7.3. Dentre as opções de pagamento disponibilizamos PIX, Cartão de Crédito e Boleto.</p>
      <p>7.4. As transações de PIX tem resposta imediata e devem ser realizadas em no máximo 5 minutos. Já a opção de cartão de crédito pode ficar pendente, aguardando liberação por parte da Pagarme.</p>
      <p>7.5. Caso a opção seja por pagamento via boleto, o usuário deverá imprimí-lo na aba MINHAS DOAÇÕES e realizar o devido pagamento. Após a compensação, o valor será creditado automaticamente na campanha e o status mudará para PAGO.</p>
      
      <h4 style="margin-top: 40px;">8. TRIBUTAÇÕES</h4>
      <p>8.1. A Vaquinha Animal não se responsabiliza pelas obrigações tributárias que recaiam sobre os beneficiários e doadores.</p>
      <p>8.2. A Vaquinha Animal recomenda aos USUÁRIOS que se informem acerca de eventuais tributos incidentes sobre a entrega e/ou o recebimento de recursos realizados por meio da PLATAFORMA.</p>
      
      <h4 style="margin-top: 40px;">9. TRANSAÇÕES FINANCEIRAS E SISTEMA DE PAGAMENTOS</h4>
      <p>9.1. Todas as transações são deduzidas de taxas por parte da Pagarme. A Vaquinha Animal decidiu dividir da seguinte forma.</p>
      <p>9.2. Para pagamentos com PIX, a Pagarme retém 1,19%. A Vaquinha Animal irá ficar com somente 7% do valor doado e e repassará o restante ao beneficiário, após redução da taxa.</p>
      <p>9.3. Para pagamentos com Boleto, a Pagarme retém R$ 3,49 por boleto pago. A Vaquinha Animal irá ficar com somente 7% do valor doado e e repassará o restante ao beneficiário, após redução da taxa.</p>
      <p>9.4. Para pagamentos com Cartão de Crédito, a Pagarme retém 3,36% + R$ 0,99 + taxa de antecipação por transação. A Vaquinha Animal irá ficar com somente 7% do valor doado + R$ 0,99 e repassará o restante ao beneficiário, após redução da taxa.</p>
      <p>9.5. Após o encerramento da campanha, o valor correspondente ao beneficiário será repassado em um prazo de 30 a 45 dias corridos, a depender da liberação pelo gateway de pagamento.</p>
      <p>9.6. Devido as taxas, o valor mínimo para doação é de R$ 10,00.</p>
      
      <h4 style="margin-top: 40px;">10. DOAÇÃO RECORRENTE</h4>
      <p>10.1. A Pagarme também é a operadora utilizada para assinaturas. O doador recorrente irá realizar doação mensal do valor por ele estabelecido.</p>      
      <p>10.2. As doações obtidas através das assinaturas serão revertidas para impulsionar campanhas já existentes na plataforma, ajudar no desenvolvimento da Vaquinha Animal, criar campanhas internas para um fim específico, entre outros.</p>      
      
      <h4 style="margin-top: 40px;">11. SERVIÇOS PRESTADOS PELAS INTEGRADORAS FINANCEIRAS</h4>
      <p>11.1. A Vaquinha Animal não possui controle sobre o serviço de pagamento online fornecido pelo Pagarme, de modo que não se responsabiliza, nem garante de qualquer forma, os pagamentos processados por meio destes.</p>
      <p>11.2. A Vaquinha Animal não pode garantir de forma nenhuma que os serviços prestados pela empresa responsável pela gestão de pagamentos funcionarão livres de erros, interrupções, mau funcionamento, atrasos ou outras imperfeições.</p>
      
      <h4 style="margin-top: 40px;">12. CADASTRO DE USUÁRIO</h4>
      <p>12.1. O usuário é o responsável por todas as informações fornecidas no cadastro e  assume o compromisso de atualizar seus dados pessoais sempre que for necessário.</p>
      <p>12.2. A Vaquinha Animal só realizará a transferência do valor arrecadado ao final em uma conta em nome do beneficiário. Isso visa reduzir a chance de alguém criar uma campanha em nome de terceiros.</p>
      
    </div>
    
  </div>
</section>